img{
      width:500px;
      border: 10px solid #cc0000;
      text-align:center;
}
div{
      height: 75px;
      background-color: #3a5795;
}
a{
      text-align:center;
      display: block;
      
}
