img{
      width:500px;
      border: 10px solid #cc0000;
      
}
div{
      height: 75px;
      background-color: #3a5795;
      border-radius:10px;
      
}     
a{
      text-align:center;
      display: block;
      margin:auto;
}
